* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(235, 42, 42);
}

nav h3 {
    margin: 0;
    color: white;
    padding: 10px;
    font-size: 3em;
    align-items: baseline;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

nav li {
    padding: 10px;
    color: white;
    font-size: 1.5em;
}

.search {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search button{
    border:none;
    background: rgb(24, 85, 199);
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: 0;
    float:left;
    font-size: 1.5em;
}

.search input{
    margin-right: 0;
    float:left;
    height: 50px;
    min-width: 1000px;
    font-size: 1.5em;
    padding: 10px;
}

.item {
    height: 320px;
    width: 320px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.item p {
    background:rgb(235, 42, 42);
}
.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 140px;
    justify-items: center;
}

img {
    height: 300px;
    width: 100%;
}

.favorite {
    height: 50px;
    width: 50px;
    position: relative;
    left: 125px;
    bottom: 5px;

}